@charset "UTF-8";

@font-face {
  font-family: 'Coda';
  src: url('/fonts/Coda-Regular.woff2') format('woff2'),
    url('/fonts/Coda-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
    url('/fonts/Coda-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coda';
  src: url('/fonts/Coda-ExtraBold.woff2') format('woff2'),
    url('/fonts/Coda-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}






/* ======= Fixed ======= */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}





.img-responsive.hero {
  display: block;
  width: 100%;
  height: auto;
}

.text-center {
  text-align: center !important;
}


html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}


svg:not(:root) {
  overflow: hidden;
}


button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button {
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}


button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {

}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input {
  overflow: visible;
}


[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;

}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

@-moz-document url-prefix() {

  select:-moz-focusring,
  select::-moz-focus-inner {
    color: transparent !important;
    text-shadow: 0 0 0 #ffffff !important;
    background-image: none !important;
    border: 0;
  }
}

select::-ms-expand {
  display: none;
}

.hide {
  display: none;
}

.alignleft {
  float: left;
  margin-right: 10px;
}

.alignright {
  float: right;
  margin-left: 10px;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-text-left {
  text-align: left;
}

.align-text-right {
  text-align: right;
}

.align-text-center {
  text-align: center;
}

.no-margin-botom {
  margin-bottom: 0;
}

@media (max-width: 320px) {
  .mobile-text-center {
    text-align: center !important;
  }
}

@media (max-width: 768px) {
  .mobile-text-left {
    text-align: left !important;
  }
}

@media (max-width: 991px) {
  .tablet-text-center {
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  .mobile-hide {
    display: none !important;
    visibility: collapse;
  }
}

.inner-container {
  position: relative;
  display: block;
  margin: 0px auto;
  max-width: 1440px;
}

.inner-container:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

button {
  background: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

img:focus {
  outline: 0px;
}

.no-padding-bottom {
  padding-bottom: 0px;
}

.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.row .text-center {
  text-align: center;
}

.padding-extra {
  padding-right: 30px;
  padding-left: 30px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

form label {
  font-family: "Open Sans", sans-serif !important;
}

form .col-md-6 {
  margin-bottom: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

input,
textarea {
  font-size: 24px;
  padding: 10px;
}

video {
  width: 100% !important;
  height: auto !important;
}

figure {
  display: block;
  padding: 10px;
}

.background-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 50%;
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.uil-ring-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}

.uil-ring-css>div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  -webkit-box-shadow: 0 6px 0 0 #0F2749;
  box-shadow: 0 6px 0 0 #0F2749;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}

/* ==========================================================================
Fonts
========================================================================== */
@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.woff2') format('woff2'),
    url('/fonts/fontello.woff') format('woff'),
    url('/fonts/fontello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/web/20250123202129im_/http://www.parks.hikercompany.com/assets/font/fontello.svg?7967666#fontello') format('svg');
  }
}
*/


.icon-volume-up::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("/icons/Icon_Audio.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* '' */
.icon-attention:before {
  content: '\e801';
}

/* '' */
.icon-cancel:before,
.question__choice.wrong:before {
  content: '\e802';
}

/* '' */
.icon-pause-circled:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("/icons/Icon_Pause.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

/* '' */
.icon-three-arrows:before,
.rangeslider__handle:before {
  content: '›››';
}

/* '' */
.icon-circle-empty:before,
.question__choice.correct:before {
  content: '\f10c';
}

/* '' */
.hiker a {
  color: #ffffff;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.hiker svg {
  width: 27px;
}

.hiker svg .bg {
  fill: #ffffff;
}

.hiker svg .letter {
  fill: #000000;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Lucida Grande", "Open Sans-n4", "Open Sans", Tahoma, Verdana, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #000000;
}

.container {
  width: 1280px;
  min-width: 1280px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-half {
  width: 50%;
}

a {
  text-decoration: none;
}

.site-content {
  display: none;
}

@media (min-width: 1025px) {
  .site-content {
    position: relative;
    display: block;
    overflow: hidden;
    height: calc(100vh - 76px);
    top: 76px;
  }
}


.page-footer {
  position: relative;
  padding: 10px 0 20px 0;
}

.page-footer .hiker a {
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-footer .hiker svg {
  margin-right: 8px;
}

.page-footer--dark .hiker a {
  color: rgba(0, 0, 0, 0.45);
}

.page-footer--dark .hiker svg .cls-1 {
  fill: rgba(0, 0, 0, 0.45);
}

.page-footer--dark .hiker svg .letter {
  fill: #ffffff;
}

.move-to-next {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -24px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}

@-webkit-keyframes bounce {

  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {

  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.textblock h1,
.textblock h2,
.textblock h3,
.textblock h4,
.textblock h5,
.textblock h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin: 0px;
}

.dark .textblock h1,
.dark .textblock h2,
.dark .textblock h3,
.dark .textblock h4,
.dark .textblock h5,
.dark .textblock h6 {
  color: white;
}

.textblock h1,
.textblock .h1 {
  font-size: 3.75em;
  line-height: 1.08333em;
  font-weight: 700;
}

@media (max-width: 767px) {

  .textblock h1,
  .textblock .h1 {
    font-size: 2.25em;
    line-height: 1em;
  }
}

.textblock h2,
.textblock .h2 {
  font-size: 3.4375em;
  font-weight: 300;
}

p+.textblock h2,
p+.textblock .h2 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {

  .textblock h2,
  .textblock .h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}

.textblock h3,
.textblock .h3 {
  font-size: 1.125em;
  font-weight: 700;
}

.textblock h4,
.textblock .h4 {
  font-size: 1em;
  font-weight: 700;
}

.textblock p,
.textblock .p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 2em;
  line-height: 1.5em;
  color: black;
}

@media (max-width: 767px) {

  .textblock p,
  .textblock .p {
    font-size: 1em;
  }
}

.textblock strong {
  font-weight: 700;
}

.textblock ul,
.textblock ol,
.textblock dl {
  margin: 0px 0 0 18px;
  padding: 0px;
}

.textblock ul li,
.textblock ul dt,
.textblock ul dd,
.textblock ol li,
.textblock ol dt,
.textblock ol dd,
.textblock dl li,
.textblock dl dt,
.textblock dl dd {
  margin: 0px 0 10px 0;
  padding: 0px;
  font-size: 1.125em;
}

.textblock blockquote {
  border: 0px;
  padding: 0 40px;
  font-size: 1em;
}

.textblock blockquote p {
  font-size: 1.0em;
  font-style: italic;
  font-weight: 700;
}

.textblock blockquote p cite {
  position: relative;
  display: block;
  clear: both;
  text-align: right;
  font-style: italic;
  font-weight: 400;
}

figure.image {
  padding: 0;
  margin: 0;
}

figure.image .image__caption {
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 26px;
}

.notice {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: calc(100vh - 76px);
}

@media (min-width: 1025px) {
  .notice {
    display: none;
  }
}

.notice__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.notice__icon {
  margin-bottom: 17px;
}

.notice__icon img {
  max-width: 124px;
}

.notice__message {
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.notice__action .btn {
  background-color: #FF931E;
  color: #ffffff;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.notice__action .btn i {
  margin-right: 2px;
  color: #ffffff;
}

.notice__action .btn span.arrow {
  font-size: 15px;
  top: 1px;
  position: relative;
  margin-left: 6px;
  line-height: 0;
  color: #ffffff;
}

.notice__action .btn:hover {
  color: #000000;
  text-decoration: none;
}

.notice__action .btn:hover i,
.notice__action .btn:hover .span.arrow {
  color: #ffffff;
}

.notice__bottom {
  padding-bottom: 24px;
}

.notice .hiker a {
  display: block;
}

.notice .hiker svg {
  display: block;
  margin: 0 auto 10px;
}

@media (min-width: 769px) {
  .notice .hiker svg {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px;
    vertical-align: middle;
  }
}

.page {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 100vh;
  overflow: auto;
  overflow-y: scroll;
  height: 100%;
  background: #000000;
}

.page-inner {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* width: 1280px; */
  margin: 0 auto;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.page-1 {
  top: auto;
}

.page-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.page.current,
.page.prev {
  display: block;
  top: 0;
}

.page.light {
  background: #ffffff;
  color: #000000;
}

.page .header-block {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.page .header-block__white h2,
.page .header-block__white p {
  color: #000000;
}

.page .header-block .inner {
  position: relative;
  display: block;
  height: auto;
  margin-left: -100%;
  margin-right: -100%;
}

.page .image-wrapper {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  width: 100%;
}

.page .copy.center {
  text-align: center;
}

.page .copy.dark h1 {
  color: black;
}

.page .copy.dark p {
  color: white;
}

.page .copy.dark small {
  color: white;
}

.page .header {
  margin-bottom: 24px;
}

.page .header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-right: 1px solid #C5C5C5;
}

.page .header .header-title h2 {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
}

.page .header .header-title p {
  margin-bottom: 0;
}

.page .header .header-blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page .header .header-blurb p {
  margin-bottom: 0px;
}

#introduction .container {
  padding: 95px 60px;
}

#introduction .page-content {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#introduction h1 {
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 -12px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
}

#introduction .subheading {
  font-size: 16px;
  margin-bottom: 23px;
  display: block;
  width: 100%;
  font-weight: 700;
}

#introduction p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #ffffff;
}



.pagnation-blk {
  text-align: center;
  padding: 10px 10px 50px;
}

.pagnation-blk .button {
  display: inline-block;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  vertical-align: middle;
}

.pagnation-blk .button i {
  margin-right: 5px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  line-height: 11px;
  font-size: 12px;
  text-align: center;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.pagnation-blk .button span {
  display: inline-block;
  vertical-align: middle;
}

#review .page-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-wrap p a {
  font-weight: 600;
  text-decoration: underline;
  color: #000;
}



.site-content {
  z-index: 1001;
}

.bg-color-gold {
  background-color: #ffe385;
}

.bg-color-gold-dark {
  background-color: #EDBB3E;
}

.bg-color-gold-orange {
  background-color: #FF931E;
}

.bg-color-orange {
  background-color: #D8400B;
}

.bg-color-orange-dark {
  background-color: #DB592C;
}

.bg-color-blue {
  background-color: #2970C0;
}

.bg-color-green {
  background-color: #509917;
}

.bg-color-white {
  background-color: white;
}

.color-gold,
#introduction .subheading,
#physics-of-sound .section-header--gold .section-header__title,
#physics-of-sound .title-line__title,
#physics-of-sound .keyword__word,
#physics-of-sound .keyword__callout__content .special {
  color: #ffe385;
}

.color-gold-dark {
  color: #EDBB3E;
}

.color-gold-orange,
#physics-of-sound .section-header--orange .section-header__title {
  color: #FF931E;
}

.color-orange {
  color: #D8400B;
}

.color-orange-dark {
  color: #DB592C;
}

.color-blue {
  color: #2970C0;
}

.color-green {
  color: #509917;
}

.color-purple,
#physics-of-sound .section-header--purple .section-header__title {
  color: #8E6C93;
}

.parent {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: blue;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}

.fade-enter-active {
  -webkit-transition-delay: .25s;
  transition-delay: .25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.hideTheIntro-enter-active,
.hideTheIntro-leave-active {
  -webkit-transition: top .5s ease;
  transition: top .5s ease;
}

.hideTheIntro-enter,
.hideTheIntro-leave-to {
  top: -100px;
}

#app {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.page-1 {
  z-index: 110;
}

.page-2 {
  z-index: 120;
}

.page-3 {
  z-index: 130;
}

.page-4 {
  z-index: 140;
}

.page-5 {
  z-index: 150;
}

.page-6 {
  z-index: 160;
}

.page-7 {
  z-index: 170;
}

.page-8 {
  z-index: 180;
}

.page-9 {
  z-index: 190;
}

.page-10 {
  z-index: 200;
}

.copy.dark h1 {
  color: white;
}

.copy.dark p {
  color: white;
}

.copy.dark p.subheading {
  color: #ffe385;
}